<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CarOS{% if title %}{{ [" - ", title] | join }}{% endif %}</title>

  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">

  {# Styles #}
  {% sass "./src/sass/main.scss" %}
  {% for link in css %}
  {% sass ["./src/sass/", link] | join %}
  {% endfor %}

</head>
<body>
  <header>
    <a href="/">
      <span id="caros">CarOS</span>
    </a>
    
    <nav>
      <a href="https://imaginelenses.com">Imaginelenses</a>
    </nav>
  </header>

  <main>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </main>

  <footer>
    &#169; {% year %} <a href="https://imaginelenses.com">Imaginelenses</a> 
  </footer>
  
</body>
</html>