<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CarOS{% if title %}{{ [" - ", title] | join }}{% endif %}</title>

  <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">

  {# Styles #}
  {% sass "./src/sass/base.scss" %}
  {% for link in css %}
  {% sass ["./src/sass/", link] | join %}
  {% endfor %}

  <script src="/js/index.js" differ></script>

</head>
<body>
  <header>
    <a class="logo" href="/">
      <span id="caros">CarOS</span>
    </a>
    
    <button class="navigationToggle" aria-controls="#primaryNavigation" aria-expanded="false">
      <span aria-hidden="true">Menu</span>
    </button>
    
    <nav id="primaryNavigation" data-visible="false">
      <ul class="navigation">
        <li>
          <a aria-current="page" href="/">Home</a>
        </li>
        <li>
          <a href="https://imaginelenses.com">Imaginelenses</a>
        </li>
      </ul>

    </nav>
  </header>

  <main>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </main>

  <footer>
    &#169; {% year %} &nbsp; <a href="https://imaginelenses.com">Imaginelenses</a> 
  </footer>
  
</body>
</html>